<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Media Gallery</title>
</head>
<body>
    <h1>Media Gallery</h1>
    <h2>Katerina Nakladalova</h2>

    <table>
        <tr th:each="movie : ${movieItems}">
            <a th:href="@{'video/'+${movie.getFile_name()}}">
            <img th:src = "@{'images/'+${movie.getImage_name()}}" width="1000" height="400"><br>
            </a>
        </tr>
    </table>
</body>
</html>

