<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video Collection</title>
</head>
<body>
<table class="table">
    <thead class = "thead-light">
    <tr>
        <th class="text-left">Videos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Stream : ${moviesItems}">
        <td><a th:href="@{'player/'+${movie.getFile_name()}}"><img th:src="@{'images/'+${movie.getImage_name()}}" width="300" height="169"/></a></td>
    </tr>
    </tbody>
</table>

</body>
</html>