<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adapivní stream</title>

    <link rel="stylesheet" th:href="@{/css/controlbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h2>Stránka umožňující přehrání MPEG-DASH/HLS streamu</h2>


    <th:block th:switch="${type}">
        <div th:case="'video'">
<!--    Základní způsob, jak přehrát adaptivní stream pomocí knihovny dash.js-->
            <video th:src="${url}" width="1000" height="400" data-dashjs-player controls/>
        </div>

        <div th:case="'hls'">
            <h2 style="color: red;">Nepodporavané video, nebo chybné url</h2>
        </div>

        <div th:case="'stream'">
            <div class="dash-video-player">
                <video id="videoPlayer" autoplay></video>
                <div id="videoController" class="video-controller unselectable">
                    <div id="playPauseBtn" class="btn-play-pause" title="Play/Pause">
                        <span id="iconPlayPause" class="icon-play"></span>
                    </div>
                    <span id="videoTime" class="time-display">00:00:00</span>
                    <div id="fullscreenBtn" class="btn-fullscreen control-icon-layout" title="Fullscreen">
                        <span class="icon-fullscreen-enter"></span>
                    </div>
                    <div id="bitrateListBtn" class="control-icon-layout" title="Bitrate List">
                        <span class="icon-bitrate"></span>
                    </div>
                    <input type="range" id="volumebar" class="volumebar" value="1" min="0" max="1" step=".01">
                    <div id="muteBtn" class="btn-mute control-icon-layout" title="Mute">
                        <span id="iconMute" class="icon-mute-off"></span>
                    </div>
                    <div id="trackSwitchBtn" class="control-icon-layout" title="A/V Tracks">
                        <span class="icon-tracks"></span>
                    </div>
                    <div id="captionBtn" class="btn-caption control-icon-layout" title="Closed Caption">
                        <span class="icon-caption"></span>
                    </div>
                    <span id="videoDuration" class="duration-display">00:00:00</span>
                    <div class="seekContainer">
                        <div id="seekbar" class="seekbar seekbar-complete">
                            <div id="seekbar-buffer" class="seekbar seekbar-buffer"></div>
                            <div id="seekbar-play" class="seekbar seekbar-play"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </th:block>

    <script type="text/javascript" th:src="@{/js/dash.all.debug.js}"></script>

    <script th:if="${type.contains('stream')}" type="text/javascript" th:src="@{/js/ControlBar.js}"></script>
    <script th:if="${type.contains('stream')}">
        (function(){
            var url = "[[${url}]]";
            var player = dashjs.MediaPlayer().create();
            player.initialize(document.querySelector("#videoPlayer"), url, true);
            var controlbar = new ControlBar(player);
            controlbar.initialize();
        })();
    </script>
</body>
</html>